.vscode
.DS_Store
node_modules
_bundles
docs/docs/reference

docs/.vitepress/dist
docs/.vitepress/cache

# Library Builds
docs/dist
packages/dandi/dist
packages/apify/dist
/dist

**.lock
**.log

*-lock

# Jest
coverage