* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    /* width: 100vw;
    height: 100vh; */
    /* overflow: hidden; */
    padding: 25px;
}


section {
   
}

#emoji {
    display: none;
    position: fixed;
    margin: 0;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 5em;
}
